@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: url('../assets/icons/bg-2.svg') no-repeat;
    position: fixed;
    background-position: top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-size: contain; */

    font-family: var(--font-mulish);
}

/* CUSTOM STYLES */

.search-field input::placeholder {
    font-size: 14px !important;
}
.search-field fieldset {
    border-color: transparent !important;
}
